* {
  box-sizing: border-box;
}

body {
  font-family: Gibson, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.padding-b {
  padding-bottom: 100px;
}

/* Navbar */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.header .navbar-brand {
  padding-top: 35px;
}

h1 {
  font-family: Gibson, sans-serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  font-size: 36px;
  padding: 6px 20px;
  margin: 0;
}
.second {
  display: none;
}

.header .navbar {
  border: 0;
  border-radius: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.header .menu_nav {
  width: 100%;
}

header button:focus {
  outline: none;
}

.navbar-nav .nav-item {
  margin-right: 35px;
  padding-top: 50px;
}

.navbar-nav .nav-item .nav-link {
  position: relative;
  background: #000000;
  clip-path: polygon(92% 0, 100% 34%, 100% 100%, 0 100%, 0 0);
  color: #fff;
  font-family: Gibson, sans-serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 25px 4px 20px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}

.navbar-nav .nav-item.active .nav-link {
  background: #fff;
  color: #000000;
}

/* Hamburger Menu Animation */

.navbar-toggler {
  border: none;
  padding-top: 20px !important;
}

.nav-icon {
  top: 8px;
  width: 30px;
  height: 20px;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.nav-icon span {
  background-color: #fff;
  position: absolute;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 3px;
  transition-duration: 500ms;
}

.nav-icon span:nth-child(1) {
  top: 2px;
  left: 0px;
}

.nav-icon span:nth-child(2) {
  top: 11px;
  left: 0px;
  opacity: 1;
}

.nav-icon span:nth-child(3) {
  bottom: -3px;
  left: 0px;
}

.nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}
.nav-icon.open span:nth-child(2) {
  opacity: 0;
}
.nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

.bg-logo {
  position: relative;
  clip-path: polygon(98% 0, 100% 28%, 100% 100%, 0 100%, 0 0);
}

.bg-logo:after {
  clip-path: polygon(98% 0, 100% 29%, 100% 100%, 0 100%, 0 0);
  content: "";
  position: absolute;
  background: #fff;
  z-index: -1;
}

.slanted-border {
  background-color: black;
}

.slanted-border:after {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}

/* About Page */

.banner {
  padding-top: 200px;
}

.banner .jumbotron {
  padding: 0;
  background: white;
  border: 3px solid black;
}

.banner .jumbotron p {
  font-weight: bold;
}

.locations {
  background: white;
  border: 3px solid black;
}

div.em {
  font-size: 1.1rem !important;
  font-weight: bold;
}

.locations p,
.locations div {
  font-size: 0.9rem;
}

.locations .card {
  position: relative;
  clip-path: polygon(87% 0, 100% 18%, 100% 100%, 0 100%, 0 0);
}

.locations .card:after {
  clip-path: polygon(87% 0, 100% 18%, 100% 100%, 0 100%, 0 0);
  content: "";
  position: absolute;
  background: #fff;
  z-index: -1;
}

.locations .card-deck {
  flex-flow: column wrap;
}

/* Print Page */

.login-section {
  padding-top: 200px;
}

.login {
  background: white;
  border: 3px solid black;
}

.printers .card {
  position: relative;
  clip-path: polygon(91% 0, 100% 12%, 100% 100%, 0 100%, 0 0);
  align-items: center;
  text-align: center;
  transition: all 0.5s ease;
}

.printers .card:after {
  clip-path: polygon(91% 0, 100% 12%, 100% 100%, 0 100%, 0 0);
  content: "";
  position: absolute;
  background: #fff;
  z-index: -1;
}

.printers .card .card-img-top {
  height: 30%;
  width: 30%;
}

.card h5 {
  font-size: 1.1rem;
  font-weight: bold;
}

.card p {
  font-size: 0.8rem;
}

.printers .card:hover {
  transition: all 0.5s ease;
  transform: translateY(-10px) !important;
}

.printer {
  background: white;
  border: 3px solid black;
}

.printer .card {
  position: relative;
  clip-path: polygon(91% 0, 100% 12%, 100% 100%, 0 100%, 0 0);
  align-items: center;
  text-align: center;
  transition: all 0.5s ease;
}

.printer .card:after {
  clip-path: polygon(91% 0, 100% 12%, 100% 100%, 0 100%, 0 0);
  content: "";
  position: absolute;
  background: #fff;
  z-index: -1;
}

.printer .card .card-img-top {
  height: 30%;
  width: 30%;
}

.your-printer-label-style {
  background-color: black;
  color: white;
  padding: 3px;
  font-family: Gibson, sans-serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

.printer p {
  font-size: 0.9rem;
}

.submission {
  background: white;
  border: 3px solid black;
}

.file-btn {
  color: #fff;
  background: #000000;
  border: none;
  padding: 5px 20px;
  margin-right: 20px;
  font-family: Gibson, sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Gallery Page */

.gallery-section {
  padding-top: 200px;
}

.gallery-box {
  background: white;
  /* border: 3px solid black; */
  padding: 20px 20px;
  margin: 0 auto;
}

.boxes {
  display: inline-block;
  width: 130px;
  height: 140px;
  border: 1px solid black;
  margin: 7px;
}
/* 
.gallery .nav-link.active {
  background-color: #fff;
  border-radius: 0;
  margin-right: 20px;
  padding: 8px 50px;
  color: #000;
  font-family: Gibson, sans-serif;
  font-weight: 900;
  font-style: italic;
}

.gallery .nav-link {
  margin-right: 20px;
  background-color: #000;
  border-radius: 0;
  padding: 8px 50px;
  color: #fff;
  font-family: Gibson, sans-serif;
  font-weight: 900;
  font-style: italic;
} */

@media (max-width: 992px) {
  .locations .card-deck {
    flex-flow: row wrap;
  }
}

@media (max-width: 768px) {
  .first {
    display: none;
  }

  .second {
    display: block;
  }
  h1 {
    font-size: 20px;
  }
  .header .navbar {
    background: #000;
  }

  .header .navbar-brand {
    padding-top: 0;
  }

  .nav-icon {
    top: -8px;
  }
  .navbar-nav .nav-item {
    margin-right: 35px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(237, 237, 237, 0.4);
  }
  .navbar-nav .nav-item .nav-link {
    width: 30%;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 15px;
  }
  .navbar-nav .nav-item {
    margin-right: 35px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .navbar-nav .nav-item .nav-link {
    width: 30%;
  }

  .locations .card-deck {
    flex-flow: column wrap;
  }
}

.tracking {
  background: white;
  border: 3px solid black;
  padding: 30px 20px 100px;
}

.progressbar li {
  list-style-type: none;
  width: 12%;
  float: left;
  font-size: 12px;
  position: relative;
  color: #7d7d7d;
  margin-left: 60px;
}
.progressbar li:before {
  width: 15px;
  height: 15px;
  content: "";
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  margin: 0 0 10px 0;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}

.track-label-style {
  background-color: black;
  color: white;
  padding: 3px;
  font-family: Gibson, sans-serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}
