@font-face {
  font-family: "Gibson-HI";
  src: url("../gibson/Gibson-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gibson-Medium";
  src: url("../gibson/Gibson-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gibson-Light";
  src: url("../gibson/Gibson-Light.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Gibson-Light", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.btn-primary {
  font-family: "Gibson-HI", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

.btn-primary:active {
  background-color: black !important;
  outline: none;
  border: none;
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
  outline: none;
  border: none;
  box-shadow: none;
}
.btn-primary:focus {
  box-shadow: none;
  outline: none;
  border: none;
  box-shadow: none;
}

.header {
  margin: 30px 0;
}

.banner {
  padding: 50px 0;
}

.banner .jumbotron {
  background: white;
  border: 3px solid black;
  padding: 20px 20px;
}

.banner .jumbotron p {
  font-size: 1.1rem;
  font-weight: bold;
}

.locations {
  padding-bottom: 120px;
}

.location {
  background: white;
  border: 2px solid black;
  padding: 40px 20px 0px;
}

.location .images .card {
  margin-bottom: 30px;
  border: 2px solid black;
  border-radius: 0 20px 0 0;
}

p.stand-out {
  font-size: 1.25rem !important;
  font-weight: bold;
  margin-bottom: 30px;
}

.location-text {
  font-size: 1.1rem !important;
}

/* Print Page */

.padding-b {
  padding-bottom: 90px;
}

.login {
  padding: 15px;
  background: white;
  border: 3px solid black;
  display: flex;
}

.login > span {
  padding-top: 5px;
  margin-left: 30px;
  font-size: 1.1rem;
}

.login > .btn {
  margin-left: 20px;
  padding: 5px 100px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}

/* .printers .card-body .card-title {
  font-weight: bold;
} */

.printers .card {
  /* background: linear-gradient(235deg, transparent 15px, #fff 10px, #fff 100%);
  border: none; */

  /* width: 18rem;
  height: 15rem; */
  position: relative;
  clip-path: polygon(84% 0, 100% 22%, 100% 100%, 0 100%, 0 0);
}

.printers .card:after {
  clip-path: polygon(84% 0, 100% 22%, 100% 100%, 0 100%, 0 0);
  content: "";
  position: absolute;
  background: #fff;
  z-index: -1;
}

.printers .card:hover {
  transition: all 0.5s ease;
  transform: translateY(-10px) !important;
}

.printers .card .card-img-top {
  width: 50px;
  height: 50px;
}

.border-style-thin {
  background-color: black;
  background-color: black;
}

.border-style-thin:after {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}

.printer {
  background: white;
  border: 3px solid black;
  padding: 30px 20px;
}

.printer .card {
  /* background: linear-gradient(235deg, transparent 15px, #fff 10px, #fff 100%);
  border: none; */

  /* width: 18rem;
  height: 15rem; */
  position: relative;
  clip-path: polygon(84% 0, 100% 22%, 100% 100%, 0 100%, 0 0);
}

.printer .card:after {
  clip-path: polygon(84% 0, 100% 22%, 100% 100%, 0 100%, 0 0);
  content: "";
  position: absolute;
  background: #fff;
  z-index: -1;
}

.printer .card .card-img-top {
  width: 60px;
  height: 60px;
}

.your-printer-label-style {
  background-color: black;
  color: white;
  padding: 5px 20px;
  margin-bottom: 20px;
  font-family: "Gibson-HI", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.submission {
  background: white;
  border: 3px solid black;
  padding: 20px 20px;
}

.submission .btn {
  margin-right: 20px;
  padding: 5px 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}

.track-label-style {
  background-color: black;
  color: white;
  padding: 3px 20px;
  margin-left: 40px;
  font-family: "Gibson-HI", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.gallery-box {
  background: white;
  border: 3px solid black;
  padding: 20px 20px;
  margin: 0 auto;
}

.boxes {
  display: inline-block;
  width: 130px;
  height: 140px;
  border: 1px solid black;
  margin: 7px;
}

.tracking {
  background: white;
  border: 3px solid black;
  padding: 30px 20px 100px;
}

.progressbar li {
  list-style-type: none;
  width: 12%;
  float: left;
  font-size: 12px;
  position: relative;
  color: #7d7d7d;
  margin-left: 60px;
}
.progressbar li:before {
  width: 15px;
  height: 15px;
  content: "";
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  margin: 0 0 10px 0;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}

/* body {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
} */

/* h1 {
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
} */

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.container-auth {
  height: 80vh;
  margin: 40px auto 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 8px 15px;
  margin: 8px 0;
  width: 100%;
}

.form-container button {
  border-radius: 20px;
  border: 1px solid #f68f39;
  background: #f68f39;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 20px;
}

.form-container button:active {
  transform: scale(0.95);
}

.form-container button:focus {
  outline: none;
}

.form-container button.ghost {
  background: transparent;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
}

.auth-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.overlay-container h1 {
  color: black;
}

.overlay-container p {
  color: black;
}

.overlay {
  background: #f68f39;
  /* background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C); */
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}
